body{
        padding: 20px;
}
.body{
        background-image: url(/src/component/new.PNG);
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
}

.message{
        width: 45%;
}

.file {
        margin-left:55.5%;
        margin-top: 63.5%;
        background-color: red;
        border-radius: 100%;
        height: 170px;
        width: 170px;
}

.upload{
                display: inline-flex;
                margin-top: 20px;
                width: 94%;
                padding: 20px;
                background-color: white;
                box-shadow: 1px 1px 1px 1px grey;
                border-radius: 10px;

}

span{
        width: 30%;
}

.choose{
                position:relative;
                width:20%; 
                display:block; 
                height: 10%;
                padding: 10px 0 10px 30px;
                box-sizing: border-box;
                margin-left:70%;
                cursor:pointer;
                border: 1px solid blue;
                border-radius:10px;
                color:blue;
}

.choose:hover{
        background-color: rgba(0, 0, 255, 0.2);
}

.custom {
        margin-top: 18px; 
        margin-left: 44px; 
        margin-right: 24px; 
        padding: 20px; 
        width: 80%; 
        border-radius: 12px; 
        background: linear-gradient(to bottom, rgba(25, 138, 78, 0.57), rgba(0, 195, 254, 0.58));
        color: white; 
        cursor: pointer;
    }
    
    h4{
        font-size: small;
        margin-top:-40px;
        margin-left: 50px;
    }

    h4 p{
                color: rgb(216, 208, 208);
    }

    .del{
                position:absolute;
                cursor: pointer;
                margin-left:540px;
                margin-top:-60px;
                border:none;
    }



    
    @media (max-width: 1024px) {
        .message{
                width: 100%;
        }
        .body{
            
                margin-top:10px;
                margin-bottom:10px;
                
        }

        .choose{
                width:30%; 
                
        }

        .upload{
                margin-top: 10px;
        }
        .file {
                margin-top: 375px;
                left: 200px;
                height: 185px;
                width: 185px;
        }

        .del{
               
                margin-left:550px;
    }
    }
    
    
    
    @media (max-width: 768px) {
        .message{
                width: 100%;
        }
        .body{
                background-image: url(/src/component/new.PNG);
                background-position:center;
                background-size:contain;
                background-repeat: no-repeat;
                height: 100vh;
                margin-top:-120px;
                margin-bottom:-120px;
                
        }

        .choose{
                width:30%; 
                
        }

        .upload{
                margin-top: 10px;
        }
        .file {
                margin-top: 360px;
                left: 204px;
                height: 95px;
                width: 95px;
        }

        .del{
               
                margin-left:240px;
    }

    }




   